* {
  font-family: monospace, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #DFF;
  background: linear-gradient(35deg, #dff, #DDD);
  margin: 0px;
}
header {
  background: linear-gradient(35deg, black, #263626);
  padding: 25px;
}
header h1 {
  color: lightgreen;
}
h2 {
  text-align: center;
  margin-bottom: 0px;
}
section{
  margin-top: 50px;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}
th {
  border-bottom: 1px solid black;
}
td {
  border: 1px solid black;
  text-align: center;
  height: 50px;
}
p {
  margin: 10px 30px;
  text-align: center;
}
footer {
  text-align: center;
  font-style: italic;
  background: linear-gradient(35deg, black, #263626);
  color: lightgreen;
  margin-top: 45px;
  padding: 10px;
}
@media screen and (min-width: 1000px) {
  .html_tags,
  .css_table{
    width: 48%;
  }
  table {
    width:100%;
  }
  .html_table {
    float: left;
  }
  .css_table {
    float: right;
    /*margin-bottom: 450px;*/
  }
  .learning_html {
    width: 100%;
    display: inline-block;
  }
}